/*    ---------外汇新闻日历css-----------    */


.event-item {
    padding:10px 15px 10px 15px;
    border-bottom: 1px solid lightgrey;
}

.event-title {
    padding:10px 15px 10px 15px;
    border-bottom: 2px solid lightgrey;
    color: grey;
}

.event-has-detail {
    cursor: pointer;
}
.event-has-detail:hover {
    background-color: lightgray;
}
