/*    ---------外汇新闻日历css-----------    */
body {
    padding: 20px;
}

.event-item {
    padding-bottom: 10px;
    padding-top:10px;
    border-bottom: 1px solid lightgrey;
}

.event-title {
    padding-bottom: 10px;
    padding-top:10px;
    border-bottom: 2px solid lightgrey;
    color: grey;
}

.event-has-detail {
    cursor: pointer;
}
.event-has-detail:hover {
    background-color: lightgray;
}
